{% extends "base.html" %}
{% load bootstrap3 %}

{% load static %}

{% block content %}
    <div class="container">
      <!-- row of columns -->
      <div class="row">
        <div class="col-md-4 sidebar">
            <h3>Categories</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shop:index" %}">All</a>
                </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
            </ul>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="janusnic">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        </div>

    <div id="main" class="col-md-8 product-list">
    {% block title %}<h3>{{ product.name }}</h3>{% endblock %}
    
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">${{ product.price }}</p>

        <p class="raiting">

                {% if product.views > 1 %}
                    ({{ product.views }} views)
                {% elif product.views == 1 %}
                    ({{ product.views }} view)
                {% endif %}
        </p>

        <form action="{% url "shop:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Add to cart">
        </form>
        
        {{ product.description|linebreaks }}
    </div>

    <h3>Recent reviews</h3>

         {% if product.review_set.all %}
            <div class="row">
                {% for review in product.review_set.all %}
                <div class="col-xs-6 col-lg-4">
                    <em>{{ review.comment }}</em>
                    <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
                    <h5><a href="{% url 'reviews:review_detail' product.id %}">
                    Read more
                    </a></h5>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No reviews for this wine yet</p>
            {% endif %}

            {% if user.is_authenticated %}
               <h3>Add your review</h3>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
               
                <form action="{% url 'shop:add_review' product.id %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form review_form layout='inline' %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                      {% bootstrap_icon "star" %} Add
                    </button>
                    {% endbuttons %}
                </form>
            {% else %}
            <p>Login required <a href="{% url 'users:login' %}">Login</a></p> 
            {% endif %}
 </div>
</div>
<hr>

{% endblock %}


