{% extends "base.html" %}
{% load static %}
{% load latest_products popular_products %}
{% block title %}Products {% endblock %}

{% block content %}
    <div class="container">
      <!-- row of columns -->
      <div class="row">
        <div class="col-md-4 sidebar">
            <h3>Categories</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shop:index" %}">All</a>
                </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
            </ul>

            <h2>Latest Products</h2>
              <div>
                  {% latest_products %}
              </div>
              <h2>Popular Products</h2>
              <div>
                  {% popular_products %}
              </div>


              
        </div>

        <div id="main" class="col-md-8 product-list">
            <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}"><h3>{{ product.name }}</h3></a>
                <h4>${{ product.price }}</h4>
            </div>
        {% endfor %}

        <!-- Next/Prev page links  --> 
          {% if products.object_list and products.paginator.num_pages > 1 %} 
            <div class="pagination" style="margin-top: 20px; margin-left: -20px; "> 
                <span class="step-links"> 
                    {% if products.has_previous %} 
                        <a href= "?page={{ products.previous_page_number }}">newer entries &lt;&lt; </a> 
                    {% endif %} 

                    <span class="current"> 
                        &nbsp;Page {{ products.number }} of {{ products.paginator.num_pages }} 
                    </span> 

                    {% if products.has_next %} 
                        <a href="?page={{ products.next_page_number }}"> &gt;&gt; older entries</a> 
                    {% endif %} 
                </span> 
            </div> 
           {% endif %}
        
        </div>
      </div>
     <hr>
{% endblock %}

