{% extends 'base.html' %}
{% load latest_products popular_products %}
{% block content %}
   <div class="container">
      <!-- row of columns -->
      <div class="row">
        <div class="col-md-4 sidebar">
            <h3>Categories</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shop:index" %}">All</a>
                </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
            </ul>

            <h2>Latest Products</h2>
              <div>
                  {% latest_products %}
              </div>
              <h2>Popular Products</h2>
              <div>
                  {% popular_products %}
              </div>


              
        </div>

        <div id="main" class="col-md-8 product-list">

{% block title %}
<h2>Latest reviews</h2>
{% endblock %}


{% if latest_review_list %}
<div class="row">
    {% for review in latest_review_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:review_detail' review.id %}">
        {{ review.product.name }}
        </a></h4>
        <h6>Rated {{ review.rating }} of 5 by <a href="#" >{{ review.user_name }}</a></h6>
        <p>{{ review.comment }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}

        </div>
      </div>
     <hr>
{% endblock %}