body, input, select {
  font-family: Verdana, sans-serif;
  font-size: 0.8rem;
}

body {
  background: #d2d2d2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.7em;

  background: #000;
  color: #d2d2d2;

  .left, .right, .back, .actions, .paginator {
    flex: 1;
  }

  .actions, .right { text-align: right; }
  .paginator { text-align: center; }

  li {
    display: inline;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

#toolbar {
  background: #444;
}

.header {
  h1 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    .sub {
      font-size: 0.5em;
      text-transform: none;
      vertical-align: middle;
    }
  }
}

#messages {
  li {
    display: block;
    text-align: center;
    padding: 0.7em;
  }
  .success {
    background-color: #DFF2BF;
  }
  .error {
    background-color: #FFBABA;
  }
  .warning {
    background-color: #FFBABA;
  }
}

#body-small, #body-medium {
  #content {
    border: 1px solid #FFF;
    padding: 1em;
    background: #FFF;
    margin: 1em auto;
  }
  #toolbar {
    display: none;
  }
}

// TODO: relative sizes
#body-small #content {
  width: 350px;
}

// TODO: relative sizes
#body-medium #content {
  width: 640px;
}

#content, #modal {
  p, h2 {
    margin: 1em;
  }
  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  a {
    color: #313E53;
  }
}

form {
  input[type="text"], input[type="password"], input[type="email"], select {
    background: #FFF;
    border: 1px solid #666;
    padding: 4px;
  }
  input[readonly="True"] {
    background: #f2f2f2;
  }

  input[type="submit"], input[type="button"] {
    color: #FFF;
    border: 0;
    padding: 0.8em 3em;
    cursor: pointer;
    font-weight: bold;
  }

  input[type="submit"] {
    background: #313E53;
    &:hover {
      background: #324A6F;
    }
  }
  input[type="button"] {
    background: #606060;
    &:hover {
      background: #707070;
    }
  }

  &.search .helptext {
    visibility: hidden;
    display: none;
  }

  .field, .buttons, .non-field-errors {
    margin: 1em;
  }
  .errors {
    color: #cc0000;
    font-weight: bold;
  }
  .field-with-errors {
    label {
      color: #cc0000;
      font-weight: bold;

    }
    input, .chosen-container-single .chosen-single {
      border-color: #cc0000;
    }
  }
  .field {
    label {
      display: block;
    }
    .helptext {
      color: #606060;
      font-size: 0.8em;
    }
  }
}

#body-small form {
  select, input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
  }
}

#modal-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  #modal {
    position: relative;
    border: 1px solid #fff;
    margin: 10% auto;
    // TODO: full wideth on smaller
    width: 50%;
    text-align: center;
    background: #fff;
  }
}

.photos, .albums {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 0.5em;

  li {
    // TODO: maybe scale this
    width: 200px;
    padding: 0.5em;
    text-align: center;
    a {
      text-decoration: none;
    }
    .name, .count {
      left: 10px;
      color: #000;
      display: block;
    }
    .name {
      padding-top: 2px;
      font-weight: bold;
    }
    .count {
      font-size: 0.7em;
    }
  }

  img {
    box-shadow: 0 0 7px #444;
    width: 100%;
  }
}

.photo {
  text-align: center;
  img {
    box-shadow: 0 0 7px #444;
    margin: 1em;
  }
  .name {
    font-weight: bold;
  }
}
